.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map-container{
  width: 100px;
}

.my-uploader{
  border: "1px solid black";
  width: 600;
  color: #000;
  padding: 15px;
  background: rgba(255, 255, 255, 0.658);
  border-radius: 5px;
  margin: 10px;
  font-weight: normal;
  font-size: 14px;
}


/* FileDrop */
.HalloKlasse{
  border: 1px dashed grey !important;
  min-height: 100px!important;
}
.HalloKlasse svg{
  width: 25px;
  height: 25px;
}
.HalloKlasse button{
  min-width: 10px;
  min-height: 10px;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 40px;
}
.HalloKlasse span svg{
  width: 15px;
  height: 15px;
}

.TekstDrop {
  font-size: 12px !important;
  font-family: Roboto;
}


.MuiSnackbar-root-123.MuiSnackbar-anchorOriginBottomLeft-129{
  left:0;
}
